[submodule "Drivers/STM32N6xx_HAL_Driver"]
	path = Drivers/STM32N6xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32n6xx-hal-driver.git
[submodule "Drivers/CMSIS"]
	path = Drivers/CMSIS
	url = git@github.com:berab/cmsis-core.git
